@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 0;
    min-width: 0;
    font-family: inherit;
}

/* @vars */
:root {
    --purple: #682AE9;
    --light: #dbdbdb;
    --header-link: #dbdbdb;
    --header-link-hover: #682AE9;
    --header-link-hover-icon: #dbdbdb;
    --header-link-active: rgba(85,85,85,1);
    --std-color: #dbdbdb;
    --bg: #0e1212;
    --bg-rgb: 14,18,18;
    --bgLight: radial-gradient(var(--bg), transparent, var(--purple) 130%);
    --gray: #808080;
    --comment: #555;
}

/* @layout */
html {
    background: var(--bg);
    font-family: 'Roboto Mono', monospace;
    font-size: 100%;
}

body {
    min-height: 100vh;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

h1{
    color:var(--std-color);
    font-size: 4.5rem;
}

h1 .title{
    color:var(--purple)
}

h3{
    color:var(--purple);
    font-size: 2.2rem;
    font-weight: 400;
}

h4{
    color:var(--comment);
    font-size: 2.5rem;
}

@media only screen and (max-width: 768px) {
    h1{
        font-size: 3.5rem;
    }

    h3{
        font-size: 1.7rem;
    }
    
    h4{
        color:var(--comment);
        font-size: 1.5rem;
    }
}

/*@ Header */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--header-link);
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 2rem;
}

.nav-link:hover{
    color:var(--header-link-hover)
}

.nav-link{
    height: 1.2rem;
    font-weight: 400;
    color: var(--header-link);
}

.nav-link span{
    display:none;
    color:var(--light)
}


#nav-logo {
    margin-left: 5%;
    font-size: 2rem;
    font-weight: 500;
    color: var(--light);
}

 .nav-item svg {
    display: block;
    width: 1.2rem;
    height: 1.2rem;
    fill: var(--purple);
    position: relative;
    top: 2px;
    transition: fill 400ms ease-out;
}
@media only screen and (max-width: 998px) {
    .nav-logo{
        margin:0;
    }

}
@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

}

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }


.menu-container .navbar {
  display: none;
}
.menu-container:focus-within .navbar {
  display: block;
}


/*@Timeline */
.container{
    margin:0 auto;
    padding:0 25%;
    position: relative;
    overflow: hidden;
    display:flex;
    min-height: 100vh;
    max-height: 100vh;
}

#heading{
    position: relative;
}


#contents{
    display:flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
}

#contents2{
    position:relative;
    display:flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
}

.circle{
    position:absolute;
    top:50%;left:-5%;
    height:15px;
    width:15px;
    border-radius:50%;
    background-color: var(--header-link-hover);
    display: none;
}

@media only screen and (max-width: 768px) {
    .circle{
        left:-12%;
    }
}

.pulsate-fwd {
	-webkit-animation: pulsate-fwd 0.5s ease-in-out infinite both;
	animation: pulsate-fwd 0.5s ease-in-out infinite both;
}

@-webkit-keyframes pulsate-fwd {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    50% {
      -webkit-transform: scale(1.3);
              transform: scale(1.3);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }

@keyframes pulsate-fwd {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    50% {
      -webkit-transform: scale(1.3);
              transform: scale(1.3);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
}


.tilt-in-fwd-tr {
	-webkit-animation: tilt-in-fwd-tr 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s both;
	        animation: tilt-in-fwd-tr 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s both;
}

@-webkit-keyframes tilt-in-fwd-tr {
    0% {
      -webkit-transform: rotateY(20deg) rotateX(45deg) translate(30px, -30px) skew(-35deg, 10deg);
              transform: rotateY(20deg) rotateX(45deg) translate(30px, -30px) skew(-35deg, 10deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
              transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
      opacity: 1;
    }
  }
  @keyframes tilt-in-fwd-tr {
    0% {
      -webkit-transform: rotateY(20deg) rotateX(35deg) translate(25px, -30px) skew(-35deg, 10deg);
              transform: rotateY(20deg) rotateX(35deg) translate(25px, -30px) skew(-35deg, 10deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
              transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
      opacity: 1;
    }
  }

.slide-in-left{
	-webkit-animation: slide-in-left 1.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 4s both;
	        animation: slide-in-left 1.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 4s both;
}

@-webkit-keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-100px);
              transform: translateX(-100px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
}

@keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-100px);
              transform: translateX(-100px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
}

.slide-in-right {
	-webkit-animation: slide-in-right 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-right 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 @-webkit-keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }

.scale-in-hor-center {
	-webkit-animation: scale-in-hor-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-hor-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 @-webkit-keyframes scale-in-hor-center {
    0% {
      -webkit-transform: scaleX(0);
              transform: scaleX(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
      opacity: 1;
    }
  }
  @keyframes scale-in-hor-center {
    0% {
      -webkit-transform: scaleX(0);
              transform: scaleX(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
      opacity: 1;
    }
  }
  

  #contents .svg,.svg2{
      position:fixed;
      left:0;
      height:5vh; 
      z-index:-1
  }
